/*************** CSS RESET****************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4, h5{
    color: white;
}

.fa-regular, .fa-solid {
    color: white;
}

.fa-solid{
    padding-left: 40px;
    padding-bottom: 20px;
}

/*MACRO STRUTTURA*/

.main{
    display: flex;
    height: calc(100vh - 100px);
    background-color: #132e3a;
}


.sidebar{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 200px;
    height: 100%;
    background-color: black;
    padding-left: 20px;
    line-height: 30px;
    overflow: hidden auto;
    justify-content: space-between;
}

.content-main{
    overflow: hidden;
    flex-grow: 1;
    margin-top: 100px;
    padding-left: 20px;
    overflow-y: scroll;
}


.footer{
    height: 100px;
    background-color: #0d1113;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**************SIDEBAR****************/

.flex-end{
    align-items: flex-end;
}


.logo{
    width: 150px;
    height: auto;
    padding-top: 20px;
}

.logo-small{
    display: none;
}

.menu-items img{
    width: 20px;
    height: auto;
}

.menu-items-small{
    display: none;
}

.img-responsive{
    display: none;
}

.title-list{
    margin-bottom: 10px;
}

.new-playlist h4::before{
    content: "+";
    padding: 10px;
    background-color: aliceblue;
}

.divisore{
    border: 1px solid grey;
    width: 150px;
}


.end h3 img{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    color:grey;
}

/*****************MAIN*****************/


.category ul{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.title-recently {
    margin-bottom: 30px;
    margin-top: 30px;
}

.title-personality{
    margin-top: 30px;
}

.title-section{
    margin-top: 50px;
}

.subtitle{
    margin-bottom: 30px;
}


.items img{
    width: 100%;
    height: auto;
}

.items{
    text-align: center;
    position: relative;
}

.icon-heart{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: none;
    background: rgb(0, 0, 0, .5);

}

.items:hover .icon-heart{
    display: block;
}

.heart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.items-description{
    text-align: center;
}

.content-card{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 10px);
}

.most-popular .items img {
    border-radius: 50%;
}


/***************HEADER***************/

.header{
    position: fixed;
    width: calc(100% - 200px);
    left: 200px;
    height: 70px;
    background-color:#1e2224 ;
}

.btn-content{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}

.btn{
    width: 170px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 50px;
     
}

/******************FOOTER***************/

.footer-left{
    display: flex;
    width: 20%;
}

.footer-left img{
    width: 50px;
    height: auto;
}

.content-left{
    display: flex;
    flex-wrap: wrap;
}

.footer-center{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}

.content-center{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.play-line{
    width: 100%;
    border: 1px solid black;
    background-color: grey;
}

.livel-play{
    border: 2px solid limegreen;
    width: 20%;
}

.indicatore{
    position: relative;
}

.content-indicatore {
    border: 1px solid white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 50px;
}

.footer-right{
    display: flex;
    width: 250px;
}

.content-right{
    display: flex;
    width: 100%;
}


.audio-line{
    display: flex;
    flex-direction: column;
}

.barra{
    border: 2px solid black;
    background-color: gray;
    width: 100px;
    margin-left: 30px;
    margin-top: 7px;
}

.livel-audio{
    border: 1px solid limegreen;
    width: 20px;
}

.indicatore-audio{
    position: relative;
}

.content-indicatore-audio{
    border: 1px solid white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: -6px;
    left: 10px;
}


@media screen and (max-width: 980px) {

    .card {
        width: calc(100% / 4 - 10px);
    }

}

@media screen and (max-width: 780px) {

    .card {
        width: calc(100% / 3 - 10px);
    }

    .fa-solid{
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .livel-play{
        width: 10%;
    }
}





@media screen and (max-width: 480px) {
    
    .sidebar{
        flex-basis: 80px;
    }

    .logo{
        display: none;
    }

    .logo-small{
        display: block;
        width: 40px;
        height: auto;
        margin-top: 10px;
    }

    .menu-items{
        display: none;
    }

    .menu{
        margin-top: 20px;
        margin-left: 10px;
    }

    .menu-items-small{
        display: block;
        width: 20px;
        height: auto;
    }

    .img-responsive{
        display: block;
        width: 20px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .divisore{
        width: 60px;
        margin-left: -10px;
    }

    .flex-center{
        display: none;
    }

    .header{
        width: 100%;
        left:80px;
    }

    .card {
        width: calc(100% / 2 - 10px);
    }

    .fa-solid{
        padding-left: 0px;
        padding-bottom: 20px;
}


}
